extends layout

block content
  ul(class="error")
   if(errors)
    h2(class="error") Oooops!
     each error in errors.errors
      li= error.message
  h1 New Book
  form(method="post" action="/books/new" onsubmit= "return confirm('Do you really want to create this book?');")
   p
    label(for="title") Title
    input(name="title" type="text" id="title" value= book.dataValues.title)
   p
    label(for="author") Author
    input(name="author" type="text" id="author" value= book.dataValues.author)
   p
    label(for="genre") Genre
    input(name="genre" type="text" id="genre" value= book.dataValues.genre)
   p
    label(for="year") Year
    input(name="year" type="text" id="year" value= book.dataValues.year)
   p
    input(type="submit" value="Create New Book")
   p
    a(class="button" href="/") Cancel
     