extends layout

block content
  h1 Update Book
  form(method="post" action=`/book/${book.dataValues.id}/update` onsubmit= "return confirm('Do you really want to update this book?');")
   p
    lable(for="title") Title
    input(name="title" type="text" id="title" value= book.dataValues.title)
   p
    lable(for="author") Author
    input(name="author" type="text" id="author" value= book.dataValues.author)
   p
    label(for="genre") Genre
    input(name="genre" type="text" id="genre" value= book.dataValues.genre)
   p
    label(for="year")
    input(name="year" type="text" id="year" value= book.dataValues.year)
   p
    input(type="submit" value="Update Book")
  form(method="post" action=`/book/${book.dataValues.id}/delete` onsubmit= "return confirm('Do you really want to delete this book?');")
   p
    a(class="button" href="/books") Cancel
   p
    input(type="submit" value="Delete Book")
  